
<html>
<head>
<title> Ruby on Rails Tutorial Sample | <%= @title %></title>
</head>
<h1>Home</h1>
<p>
The Home page !
</p>
<%= link_to "Sign up now!" , '#' ,   :class => "signup_button" %>


</html>
